In [1]:
import os
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import collections
from sklearn.model_selection import train_test_split
from sklearn import metrics
from yellowbrick.classifier import ROCAUC
import xgboost
import shap

import warnings
warnings.filterwarnings("ignore")

In [2]:
# Load data 
test = pd.read_csv('data/Case2_Test Set Template.csv')
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 1 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Month Year;Mapped_GCK;Sales_EUR  140 non-null    object
dtypes: object(1)
memory usage: 1.2+ KB

In [3]:
training = pd.read_csv('data/Case2_Sales data.csv', delimiter=';')
training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9802 entries, 0 to 9801
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DATE        9802 non-null   object
 1   Mapped_GCK  9802 non-null   object
 2   Sales_EUR   9802 non-null   object
dtypes: object(3)
memory usage: 229.9+ KB

In [4]:

Macro = pd.read_csv('data/Case2_Market data.csv', delimiter=';')
Macro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221 entries, 0 to 220
Data columns (total 52 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           221 non-null    object
 1   China                221 non-null    object
 2   China.1              221 non-null    object
 3   France               221 non-null    object
 4   France.1             221 non-null    object
 5   Germany              221 non-null    object
 6   Germany.1            221 non-null    object
 7   Italy                221 non-null    object
 8   Italy.1              221 non-null    object
 9   Japan                221 non-null    object
 10  Japan.1              221 non-null    object
 11  Switzerland          220 non-null    object
 12  Switzerland.1        220 non-null    object
 13  United Kingdom       221 non-null    object
 14  United Kingdom.1     203 non-null    object
 15  United States        221 non-null    object
 16  United States.1      220 non-null    object
 17  Europe               221 non-null    object
 18  Europe.1             221 non-null    object
 19  Unnamed: 19          221 non-null    object
 20  Unnamed: 20          221 non-null    object
 21  Unnamed: 21          221 non-null    object
 22  Unnamed: 22          221 non-null    object
 23  Unnamed: 23          221 non-null    object
 24  Unnamed: 24          221 non-null    object
 25  Unnamed: 25          221 non-null    object
 26  Producer Prices      221 non-null    object
 27  Producer Prices.1    203 non-null    object
 28  Producer Prices.2    221 non-null    object
 29  Producer Prices.3    186 non-null    object
 30  Producer Prices.4    221 non-null    object
 31  Producer Prices.5    198 non-null    object
 32  production index     221 non-null    object
 33  production index.1   221 non-null    object
 34  production index.2   220 non-null    object
 35  production index.3   221 non-null    object
 36  production index.4   221 non-null    object
 37  production index.5   221 non-null    object
 38  production index.6   221 non-null    object
 39  production index.7   221 non-null    object
 40  production index.8   221 non-null    object
 41  production index.9   210 non-null    object
 42  production index.10  220 non-null    object
 43  production index.11  221 non-null    object
 44  production index.12  221 non-null    object
 45  production index.13  221 non-null    object
 46  production index.14  221 non-null    object
 47  production index.15  221 non-null    object
 48  Unnamed: 48          0 non-null      float64
 49  Unnamed: 49          0 non-null      float64
 50  Unnamed: 50          0 non-null      float64
 51  Unnamed: 51          0 non-null      float64
dtypes: float64(4), object(48)
memory usage: 89.9+ KB

In [5]:
Macro.describe(include='all')

,Unnamed: 0,China,China.1,France,France.1,Germany,Germany.1,Italy,Italy.1,Japan,...,production index.10,production index.11,production index.12,production index.13,production index.14,production index.15,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51
count,221,221,221,221,221,221,221,221,221,221,...,220,221,221,221,221,221,0.0,0.0,0.0,0.0
unique,221,132,132,72,58,53,72,84,74,69,...,56,60,98,57,68,47,NaN,NaN,NaN,NaN
top,Index 2010=100 (if not otherwise noted),24,24,95,116,115,129,97,106,106,...,92,119,88,104,97,107,NaN,NaN,NaN,NaN
freq,1,5,5,10,9,15,8,9,9,12,...,16,11,10,15,9,15,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
training.describe(include='all')

              DATE Mapped_GCK Sales_EUR
count         9802       9802      9802
unique        1216         14      2609
top     16.04.2021         #1         0
freq            14       1179      7134

In [7]:
# # agreate maket to training
# training = training.merge(Macro, on='YearMonth')

In [ ]:
# duplicates for each feature individually

Macro.duplicated().sum()

0

In [ ]:
training['DATE'].duplicated().sum()

8586

In [11]:
#missing values
training.isnull().sum()

DATE          0
Mapped_GCK    0
Sales_EUR     0
dtype: int64

In [12]:
#missing values
Macro.isnull().sum()

Unnamed: 0               0
China                    0
China.1                  0
France                   0
France.1                 0
Germany                  0
Germany.1                0
Italy                    0
Italy.1                  0
Japan                    0
Japan.1                  0
Switzerland              1
Switzerland.1            1
United Kingdom           0
United Kingdom.1        18
United States            0
United States.1          1
Europe                   0
Europe.1                 0
Unnamed: 19              0
Unnamed: 20              0
Unnamed: 21              0
Unnamed: 22              0
Unnamed: 23              0
Unnamed: 24              0
Unnamed: 25              0
Producer Prices          0
Producer Prices.1       18
Producer Prices.2        0
Producer Prices.3       35
Producer Prices.4        0
Producer Prices.5       23
production index         0
production index.1       0
production index.2       1
production index.3       0
production index.4       0
production index.5       0
production index.6       0
production index.7       0
production index.8       0
production index.9      11
production index.10      1
production index.11      0
production index.12      0
production index.13      0
production index.14      0
production index.15      0
Unnamed: 48            221
Unnamed: 49            221
Unnamed: 50            221
Unnamed: 51            221
dtype: int64

In [16]:
for column in Macro.columns:
    duplicated_values = Macro[column][Macro[column].duplicated(keep=False)]
    if not duplicated_values.empty:
        print(f"\nDuplicates in '{column}':\n{duplicated_values.value_counts()}\n")

Duplicates in 'China':
China
24     5
107    5
69     5
52     4
147    4
130    4
134    4
33     3
244    3
167    3
164    3
174    3
146    3
215    3
114    3
86     3
82     3
74     3
99     3
68     3
46     3
59     3
72     3
56     3
208    2
183    2
128    2
190    2
292    2
241    2
181    2
204    2
227    2
176    2
221    2
179    2
201    2
44     2
182    2
85     2
37     2
38     2
48     2
31     2
51     2
30     2
117    2
122    2
27     2
22     2
95     2
28     2
158    2
173    2
236    2
Name: count, dtype: int64


Duplicates in 'China.1':
China.1
24     5
107    5
69     5
52     4
147    4
130    4
134    4
33     3
244    3
167    3
164    3
174    3
146    3
215    3
114    3
86     3
82     3
74     3
99     3
68     3
46     3
59     3
72     3
56     3
208    2
183    2
128    2
190    2
292    2
241    2
181    2
204    2
227    2
176    2
221    2
179    2
201    2
44     2
182    2
85     2
37     2
38     2
48     2
31     2
51     2
30     2
117    2
122    2
27     2
22     2
95     2
28     2
158    2
173    2
236    2
Name: count, dtype: int64


Duplicates in 'France':
France
108    10
95     10
94      9
97      8
101     7
109     6
86      6
114     6
112     5
96      5
91      5
100     5
104     5
111     5
103     5
92      5
98      5
110     5
102     4
125     4
130     4
88      4
118     4
115     4
93      4
90      4
107     3
134     3
120     3
113     3
133     3
106     3
75      2
84      2
65      2
89      2
66      2
68      2
117     2
119     2
79      2
105     2
123     2
64      2
136     2
137     2
153     2
138     2
145     2
149     2
99      2
Name: count, dtype: int64


Duplicates in 'France.1':
France.1
116    9
100    8
106    8
115    8
113    8
107    8
101    7
104    7
93     7
111    7
118    7
105    7
95     6
122    6
112    6
114    6
103    6
99     5
98     5
108    5
110    5
89     5
117    4
96     4
109    4
102    4
119    4
87     4
91     3
123    3
120    3
94     3
92     3
97     3
84     2
81     2
83     2
121    2
125    2
124    2
80     2
86     2
127    2
Name: count, dtype: int64


Duplicates in 'Germany':
Germany
115    15
111    12
116    11
107    10
101     9
117     8
104     8
123     7
110     7
121     7
112     6
102     6
113     6
99      6
109     6
108     5
100     5
103     5
122     4
83      4
105     4
95      4
106     4
88      4
118     3
92      3
114     3
127     3
93      3
94      3
85      3
128     3
120     3
91      3
124     3
96      2
82      2
125     2
87      2
90      2
98      2
119     2
Name: count, dtype: int64


Duplicates in 'Germany.1':
Germany.1
118    8
129    8
132    7
124    7
123    7
122    7
114    6
121    6
102    6
109    5
107    5
117    5
85     5
116    5
113    5
120    5
105    5
119    5
127    4
126    4
135    4
136    4
130    4
97     4
106    4
101    4
111    4
115    3
99     3
142    3
140    3
90     3
133    3
103    3
92     3
91     3
139    2
88     2
151    2
82     2
143    2
108    2
104    2
96     2
112    2
128    2
83     2
131    2
89     2
94     2
138    2
Name: count, dtype: int64


Duplicates in 'Italy':
Italy
97     9
99     8
103    7
102    6
114    6
108    6
112    6
105    6
104    5
111    5
109    5
116    5
113    4
101    4
98     4
87     4
93     4
138    4
54     4
130    4
118    4
110    4
106    4
120    3
100    3
95     3
115    3
136    3
140    3
137    3
107    3
135    3
143    3
148    3
83     3
85     3
92     3
96     2
86     2
79     2
90     2
89     2
124    2
56     2
88     2
94     2
84     2
117    2
125    2
126    2
61     2
Name: count, dtype: int64


Duplicates in 'Italy.1':
Italy.1
106    9
120    7
127    7
96     7
103    7
113    7
122    7
104    7
109    6
118    6
108    6
123    5
131    5
115    5
101    5
110    5
121    5
111    5
105    4
132    4
119    4
89     4
107    4
55     3
93     3
112    3
99     3
92     3
116    3
102    3
87     3
97     3
129    3
100    3
74     3
80     3
136    3
66     2
94     2
133    2
134    2
114    2
59     2
81     2
98     2
117    2
72     2
61     2
Name: count, dtype: int64


Duplicates in 'Japan':
Japan
106    12
116    11
104     9
105     9
109     7
123     7
112     7
110     6
128     6
111     6
125     6
120     6
117     6
114     5
127     5
97      5
108     5
96      5
115     5
98      5
99      4
103     4
122     4
102     4
118     4
113     4
121     4
119     4
101     3
107     3
94      2
124     2
130     2
134     2
82      2
87      2
141     2
77      2
129     2
152     2
137     2
Name: count, dtype: int64


Duplicates in 'Japan.1':
Japan.1
104    10
113     9
116     8
108     8
110     7
117     7
115     6
106     6
105     6
118     6
125     6
121     5
101     5
114     5
119     5
124     5
132     5
103     5
109     5
112     5
102     4
78      4
100     4
107     4
131     4
120     4
94      4
98      3
111     3
122     3
91      3
97      3
89      3
123     3
93      2
99      2
126     2
83      2
92      2
128     2
127     2
130     2
135     2
158     2
145     2
141     2
159     2
146     2
Name: count, dtype: int64


Duplicates in 'Switzerland':
Switzerland
97     15
98     12
92     12
93     12
95     12
99     11
106    10
100    10
103    10
104     9
105     8
114     8
94      8
101     8
89      8
90      7
107     6
86      5
85      5
96      5
83      4
84      4
91      3
112     3
111     3
82      3
88      3
115     2
108     2
109     2
Name: count, dtype: int64


Duplicates in 'Switzerland.1':
Switzerland.1
94     15
88     14
95     11
86     11
91     10
93     10
96     10
102     8
97      8
100     8
90      7
98      7
104     7
87      7
79      7
101     6
105     6
106     6
92      6
115     6
99      6
80      5
83      4
89      4
103     4
114     4
78      3
113     2
77      2
107     2
111     2
112     2
82      2
Name: count, dtype: int64


Duplicates in 'United Kingdom':
United Kingdom
111    10
122     9
99      9
110     9
104     9
109     8
114     8
121     8
106     7
113     7
107     7
125     7
95      6
105     6
115     6
97      6
101     6
120     6
103     6
108     5
112     5
94      4
98      4
117     4
127     4
123     4
119     4
102     4
96      3
93      3
100     3
92      3
126     2
89      2
124     2
128     2
90      2
88      2
116     2
91      2
Name: count, dtype: int64


Duplicates in 'United Kingdom.1':
United Kingdom.1
101    10
100    10
94      9
98      8
85      8
93      7
105     7
91      6
77      6
95      6
107     6
106     5
113     5
109     5
104     5
103     5
112     5
84      5
90      5
99      4
81      4
92      4
102     4
96      3
108     3
115     3
76      3
110     3
114     3
78      3
86      3
88      3
83      3
73      3
117     2
87      2
71      2
120     2
82      2
75      2
111     2
Name: count, dtype: int64


Duplicates in 'United States':
United States
112    17
108    16
110    14
113    12
116    11
111    10
103     9
107     9
101     9
114     9
109     8
115     8
102     7
104     7
117     7
105     7
106     7
122     5
124     5
121     5
118     5
119     5
99      4
89      2
94      2
88      2
123     2
90      2
91      2
120     2
100     2
98      2
Name: count, dtype: int64


Duplicates in 'United States.1':
United States.1
123    12
118     9
117     8
128     7
119     7
108     7
115     7
111     6
113     6
105     6
100     6
126     6
109     6
88      5
120     5
121     5
122     5
101     5
125     5
116     5
127     5
134     5
114     4
90      4
98      4
124     4
96      4
132     3
107     3
135     3
99      3
112     3
110     3
106     3
91      3
97      3
87      3
93      2
95      2
137     2
103     2
104     2
85      2
131     2
130     2
149     2
142     2
Name: count, dtype: int64


Duplicates in 'Europe':
Europe
114    18
110    11
103    10
116     9
112     9
113     9
107     9
124     8
115     6
108     6
95      6
96      6
109     6
105     5
118     5
117     5
111     5
104     5
101     5
123     5
97      5
89      4
120     4
106     4
102     4
99      3
100     3
86      3
125     3
132     3
126     3
91      2
87      2
119     2
94      2
134     2
78      2
84      2
98      2
90      2
122     2
Name: count, dtype: int64


Duplicates in 'Europe.1':
Europe.1
122    10
113     9
115     8
116     7
120     7
106     7
112     6
123     6
108     6
111     6
103     5
94      5
118     5
96      5
99      5
97      5
107     5
132     4
102     4
109     4
84      4
130     4
90      4
119     4
129     4
98      4
101     4
114     4
127     3
117     3
126     3
105     3
131     3
91      3
110     3
88      3
121     3
133     3
89      3
128     2
136     2
135     2
95      2
124     2
93      2
85      2
76      2
92      2
87      2
143     2
Name: count, dtype: int64


Duplicates in 'Unnamed: 19':
Unnamed: 19
79,42    2
99,49    2
92,62    2
80,71    2
Name: count, dtype: int64


Duplicates in 'Unnamed: 20':
Unnamed: 20
133,97    2
134,15    2
132,33    2
63,75     2
Name: count, dtype: int64


Duplicates in 'Unnamed: 21':
Unnamed: 21
77,94    2
Name: count, dtype: int64


Duplicates in 'Unnamed: 22':
Unnamed: 22
102,12    2
Name: count, dtype: int64


Duplicates in 'Unnamed: 23':
Unnamed: 23
137,60    2
Name: count, dtype: int64


Duplicates in 'Unnamed: 24':
Unnamed: 24
112,42    2
76,37     2
78,85     2
123,76    2
Name: count, dtype: int64


Duplicates in 'Unnamed: 25':
Unnamed: 25
1    214
2      5
Name: count, dtype: int64


Duplicates in 'Producer Prices':
Producer Prices
104    33
105    33
111    16
103    11
99      9
97      8
98      8
112     8
92      7
100     7
95      5
84      5
81      5
106     5
87      3
110     3
113     3
83      3
102     3
82      3
108     2
109     2
80      2
101     2
96      2
94      2
93      2
91      2
86      2
85      2
114     2
Name: count, dtype: int64


Duplicates in 'Producer Prices.1':
Producer Prices.1
102    27
103    21
112    19
82      9
87      9
98      8
81      7
83      7
111     7
113     7
104     7
99      7
100     7
105     6
116     6
92      5
88      5
114     5
84      4
115     4
89      3
106     3
110     3
93      2
91      2
107     2
86      2
101     2
Name: count, dtype: int64


Duplicates in 'Producer Prices.2':
Producer Prices.2
104    42
105    37
103    30
97     15
99     15
100    15
96     12
106    11
98      9
94      7
95      7
101     2
107     2
108     2
111     2
113     2
Name: count, dtype: int64


Duplicates in 'Producer Prices.3':
Producer Prices.3
103    43
102    38
100    20
101    20
104    14
99     13
98     12
105     7
97      6
107     3
106     2
108     2
112     2
Name: count, dtype: int64


Duplicates in 'Producer Prices.4':
Producer Prices.4
104    21
99     17
94     16
103    15
106    14
111    13
107    12
110    12
100    11
98     10
105    10
96      9
97      8
109     7
93      7
102     7
101     6
108     5
112     5
95      4
114     2
115     2
Name: count, dtype: int64


Duplicates in 'Producer Prices.5':
Producer Prices.5
99     27
95     22
97     21
98     19
101    18
94     15
96     15
100    14
102    11
92      9
93      8
104     8
103     5
91      2
Name: count, dtype: int64


Duplicates in 'production index':
production index
111    16
113    13
103    12
108    11
115    11
116     9
101     9
112     9
106     9
114     9
104     8
98      8
99      7
107     7
102     6
121     6
109     6
117     5
120     5
119     5
105     5
100     4
118     4
123     4
122     3
110     3
92      2
90      2
86      2
85      2
87      2
127     2
94      2
Name: count, dtype: int64


Duplicates in 'production index.1':
production index.1
116    11
104    10
114     9
113     8
125     8
117     8
109     8
112     7
115     7
122     7
120     7
118     7
111     6
108     6
105     6
119     6
121     5
123     5
110     5
97      5
106     5
130     4
128     4
124     4
101     4
107     4
102     4
100     4
127     3
129     3
99      3
88      3
91      3
103     3
98      2
86      2
84      2
126     2
94      2
135     2
Name: count, dtype: int64


Duplicates in 'production index.2':
production index.2
95     14
97     12
94     12
98     11
93     10
100    10
102    10
92      9
99      9
91      8
101     8
87      7
90      6
106     6
103     6
86      5
105     5
96      5
89      4
114     4
110     4
113     4
119     4
107     4
115     3
123     3
104     3
83      3
109     3
112     3
127     2
122     2
85      2
84      2
80      2
Name: count, dtype: int64


Duplicates in 'production index.3':
production index.3
106    11
105     9
87      9
107     9
121     8
94      7
114     7
104     7
117     6
89      6
99      6
113     6
103     6
100     6
123     6
109     6
96      6
108     6
90      5
93      5
102     5
111     5
116     5
122     5
120     4
101     4
85      4
110     4
112     4
118     3
88      3
95      3
92      3
98      2
124     2
115     2
97      2
125     2
119     2
126     2
83      2
Name: count, dtype: int64


Duplicates in 'production index.4':
production index.4
104    8
113    8
117    7
119    7
114    7
100    6
109    6
110    6
112    6
128    5
106    5
129    5
124    5
120    4
137    4
93     4
107    4
105    4
116    4
121    4
122    4
103    4
102    4
96     4
95     3
51     3
99     3
92     3
94     3
111    3
115    3
118    3
139    3
125    3
67     3
133    3
138    3
58     2
132    2
84     2
108    2
53     2
131    2
91     2
90     2
59     2
123    2
143    2
134    2
149    2
126    2
83     2
Name: count, dtype: int64


Duplicates in 'production index.5':
production index.5
105    9
120    9
121    8
109    8
131    8
111    7
110    7
117    7
124    7
107    6
118    6
104    5
112    5
99     5
113    5
126    5
106    5
133    5
115    4
128    4
98     4
122    4
119    4
130    4
114    4
116    4
96     3
101    3
108    3
102    3
142    3
100    3
127    3
136    2
87     2
76     2
97     2
138    2
135    2
134    2
161    2
141    2
125    2
Name: count, dtype: int64


Duplicates in 'production index.6':
production index.6
117    8
102    8
104    8
100    8
106    7
97     7
89     6
105    6
115    6
116    6
94     6
95     6
111    6
98     5
109    5
118    5
121    4
139    4
110    4
125    4
132    3
92     3
93     3
143    3
113    3
122    3
71     3
103    3
119    3
114    3
99     3
145    3
148    3
88     3
127    3
108    2
65     2
123    2
107    2
129    2
96     2
161    2
79     2
90     2
130    2
101    2
91     2
Name: count, dtype: int64


Duplicates in 'production index.7':
production index.7
120    9
105    8
115    8
119    8
109    8
104    7
102    7
117    6
133    6
129    6
127    6
103    6
108    6
112    5
123    5
114    5
116    5
106    5
118    5
110    5
107    4
126    4
122    4
113    4
111    4
85     4
97     4
131    4
91     4
125    3
89     3
92     3
87     3
99     3
121    3
88     3
98     3
94     3
124    3
93     3
136    2
81     2
134    2
100    2
90     2
83     2
137    2
Name: count, dtype: int64


Duplicates in 'production index.8':
production index.8
109    25
108    25
110    19
107    15
111    12
105    10
106     9
121     8
100     7
120     6
128     6
104     5
112     5
124     4
122     4
96      4
123     4
127     4
113     4
119     4
101     4
103     3
118     3
95      3
126     3
125     3
115     3
94      2
99      2
129     2
130     2
117     2
98      2
Name: count, dtype: int64


Duplicates in 'production index.9':
production index.9
109    9
106    9
103    9
113    8
126    8
117    8
110    8
108    7
114    7
104    7
101    7
111    6
118    6
99     6
112    6
105    6
115    6
116    5
102    5
107    5
96     5
98     5
128    4
120    4
121    3
122    3
134    3
119    3
135    3
85     3
97     3
127    2
95     2
123    2
100    2
129    2
131    2
92     2
91     2
Name: count, dtype: int64


Duplicates in 'production index.10':
production index.10
92     16
99     15
98     11
100    10
105    10
103     9
101     9
96      8
95      8
93      6
90      6
107     6
97      6
111     5
102     5
106     5
94      5
89      5
112     5
104     4
85      4
114     4
110     3
81      3
66      3
64      3
62      3
77      2
108     2
72      2
61      2
115     2
67      2
86      2
69      2
65      2
76      2
84      2
71      2
82      2
113     2
Name: count, dtype: int64


Duplicates in 'production index.11':
production index.11
119    11
114     9
118     8
116     8
111     8
128     8
107     7
121     7
126     7
113     7
131     6
100     6
105     6
115     6
123     6
99      5
124     5
103     5
122     5
110     5
108     5
120     5
129     4
130     4
102     4
125     3
112     3
133     3
135     3
104     3
117     3
132     3
134     3
95      3
97      2
98      2
142     2
106     2
96      2
101     2
137     2
127     2
138     2
143     2
109     2
Name: count, dtype: int64


Duplicates in 'production index.12':
production index.12
88     10
85      9
79      8
81      7
83      7
84      6
77      6
76      5
93      5
82      5
144     5
92      4
89      4
102     4
90      4
91      4
94      3
86      3
108     3
80      3
95      3
135     3
68      3
155     3
67      3
145     3
109     3
66      2
74      2
58      2
64      2
42      2
142     2
96      2
101     2
151     2
154     2
148     2
103     2
132     2
122     2
111     2
121     2
139     2
100     2
87      2
153     2
105     2
110     2
47      2
44      2
Name: count, dtype: int64


Duplicates in 'production index.13':
production index.13
104    15
108    12
101    11
112    10
107     9
99      8
95      8
102     8
103     7
113     7
97      7
115     7
106     6
96      6
116     5
110     5
100     5
118     5
93      5
114     4
90      4
109     4
134     4
98      4
117     3
92      3
88      3
89      3
105     3
111     3
77      2
124     2
75      2
91      2
119     2
86      2
94      2
120     2
142     2
137     2
Name: count, dtype: int64


Duplicates in 'production index.14':
production index.14
97     9
82     8
102    7
84     7
95     7
110    6
86     6
91     6
98     6
76     6
83     6
93     6
79     5
105    5
99     5
90     5
96     5
111    5
88     5
108    5
100    5
109    4
78     4
81     4
103    4
94     4
85     4
104    3
92     3
112    3
121    3
87     3
127    3
63     3
113    3
89     3
134    2
125    2
69     2
126    2
115    2
131    2
117    2
118    2
114    2
106    2
101    2
128    2
116    2
Name: count, dtype: int64


Duplicates in 'production index.15':
production index.15
107    15
108    11
111    11
101    11
102    10
105     9
110     9
104     9
99      8
117     7
109     7
106     7
97      7
94      6
113     6
91      6
95      6
103     6
93      5
98      5
112     4
96      4
100     4
120     4
81      3
87      3
85      3
83      3
88      3
118     3
116     3
92      3
90      2
79      2
82      2
115     2
86      2
Name: count, dtype: int64


Duplicates in 'Unnamed: 48':
Series([], Name: count, dtype: int64)


Duplicates in 'Unnamed: 49':
Series([], Name: count, dtype: int64)


Duplicates in 'Unnamed: 50':
Series([], Name: count, dtype: int64)


Duplicates in 'Unnamed: 51':
Series([], Name: count, dtype: int64)